* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.theme-dark tspan {
  fill: #d1d1d1;
}

.theme-light tspan {
  fill: #606060 ;
}

.theme-light .charts-grid-container div {
  background-color: #fff;
}

.subtext-color {
  color: var(--color-subtext);
}

.card-bg {
  background-color: var(--color-card-bg);
}

.chart-card {
  height: 100%;
}

.chart-card tspan {
  font-size: 12.2px;
}